*{
  margin: 0;
  box-sizing: content-box;
}
.allContent{
  inline-size: 100vi;
  min-block-size: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;
  padding: 0.5rem 0;
  color: midnightblue;
  caret-color: transparent;
}
.calcPlate{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  inline-size: 31rem;
  border: thick solid black;
}
.calcWindow{
  flex: 0 0 4rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: end;
  inline-size: 29.5rem;
  block-size: 4rem;
  padding: 0.3125rem;
  overflow-x: auto;
  font-family: monospace;
  border: medium solid darkblue;
}
.trouble{
  font-size: 1rem;
  color: darkred;
}
.calcLine{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  font-size: 2rem;
  block-size: 1lh;
}
.calcLine span{
  display: inline-block;
  inline-size: 1.5rem;
  margin-left: 0.125rem;
  text-align: center;
  background-color: #f3f3f3;
}
.buttonBlock{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: start;
  gap: calc(1rem/8);
  padding: 0.3125rem;
}
.buttonUnit{
  box-sizing: border-box;
  inline-size: calc(30rem/4);
  block-size: 4rem;
  font-size: 1.5rem;
  font-weight: bolder;
  caret-color: transparent;
}
.buttonUnit:first-child{
  inline-size: calc(30rem/2);
  flex-grow: 1;
}
